[Unit]
Description=IoPI Startup Script 
Documentation=https://github.com/chsienki/IoPI
After=network.target

[Service]
ExecStart=/opt/iopi/bin/startup.sh
Type=oneshot

[Install] 
WantedBy=multi-user.target